html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}

#navbar {
	color: white;
	background-color: #D789BB;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
a{
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: black;
}
.navbar-item1{
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-item2{
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-item3{
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-item4 {
	margin-left: 20px;
	margin-right: 50px;
	font-weight: bold;
	text-decoration: underline white;
}
.navbar-item4 :hover {
	color: black;
	text-decoration: underline black;
}
.title{
	font-size: 50px;
	text-decoration: underline #D789BB;
	padding-bottom: 20px;
	margin-left: 20px;
}
.contents{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #D789BB;
	border-radius: 50px;
	background: #D789BB;
	padding: 20px;
	margin-top: 50px;
	margin-right:200px;
}
.ask {
	color: #8c8c8c;
	border: 2px;
	padding-right: 200px;
	margin: 20px;
	background: white;
}
.message {
	color: #8c8c8c;
	border: 2px;
	padding-right: 200px;
	padding-bottom: 40px;
	margin: 20px;
	background: white;
}
#submit-button{
	color: #D789BB;
	font-size: 20px;
	border-radius: 20px;
	background: white;
	width: 120px;
	height: 30px;
	padding: 5px;
	text-decoration: underline white;
	margin-left: 90px;
	text-align: center;
	cursor: pointer;
	}
.contact-title{
	font-size: 40px;
	font-weight: bold;
	color: #3b3b3b;
}
.info {
	margin-top: 75px;
}
.contact{
	font-size: 25px;
	color: #8c8c8c;
}
